@import url("https://fonts.googleapis.com/css2?family=Lemonada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  display: flex;
  min-height: 98vh;
  justify-content: center;
  align-items: center;
  background-color: #08313a;
}

#timer {
  padding: 10%;
  border-radius: 50%;
  background-color: #1a5653;
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer-label {
  color: #107869;
  text-align: center;
  font-size: 1.6em;
  font-family: "Lemonada", cursive;
}

#time-left {
  color: #5cd85a;
  font-size: 6em;
  font-family: "Varela Round", sans-serif;
}

#session-control {
  display: flex;
  justify-content: space-around;
  font-family: "Varela Round", sans-serif;
  width: 50%;
}

#session,
#break {
  border-radius: 50%;
  /* border: solid #107869; */
  width: 25%;
  text-align: center;
}
#session-label,
#break-label {
  text-align: center;
  font-size: 0.75em;
  color: #08313a;
}
#session-length,
#break-length {
  font-size: 2em;
  color: #08313a;
}

#session-decrement,
#session-increment,
#break-decrement,
#break-increment {
  border-radius: 50%;
  background-color: #107869;
  font-family: "Varela Round", sans-serif;
  font-size: 1.5em;
  color: #08313a;
}

#start-stop-reset-buttons {
  height: 100px;
  display: flex;
  align-items: center;
}

#start_stop,
#reset {
  height: 30px;
  width: 75px;
  background-color: #107869;
  font-family: "Varela Round", sans-serif;
  font-size: 1em;
  color: #08313a;
}
